Source: icm-agent
Section: net
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), python, cdbs (>= 0.4.49), python-dev,
Build-Depends-Indep: python-central (>= 0.6.1)
XSBC-Original-Maintainer: Tianwei liut <liutianweidlut@gmail.com>
XS-Python-Version: current
Standards-Version: 3.8.0
Homepage: http://www.openmonitor.org/

Package: icm-agent
Architecture: all
Depends: ${python:Depends}, python-gtk2, python-twisted, python-gobject ,python-zope.interface, python-openssl, python-crypto
XB-Python-Version: ${python:Versions}
Recommends: python-openssl
Description: Open Monitor Desktop Agent raise an alarm whenever such natural or deliberate 
	shortages or blockages take place by leveraging a world wide Internet Connectivity Monitor.
