[Desktop Entry]
Name=Open Monitor Desktop Agent
GenericName=Open Monitor
Comment=Internet Connectivity Monitor
Icon=/usr/share/pixmaps/icm-agent/icm-agent.xpm
Exec=gksudo icm-agent
Terminal=false
Type=Application
Categories=Network;
