[submodule "deps/higwidgets"]
	path = deps/higwidgets
	url = ssh://github.com/umitproject/higwidgets.git
[submodule "deps/umit-common"]
	path = deps/umit-common
	url = ssh://github.com/umitproject/umit-common.git
[submodule "deps/icm-common"]
	path = deps/icm-common
	url = ssh://umitgit@dev.umitproject.org:/icm-common.git
